// Main Colors
$m1: #e63946;
$m2: #dad7cd;

// Navbar Colors
$ing: #b1aed3;
$ing-hov: #2a89d7;
$reg: #745f5f;
$reg-hov: #928e55;

//Gallery Image Text
$gallery-span: rgba(255,255,255,1);
$gallery-img-border: 1px solid #000;