// Main Colors
$m0: #b61926;
$m1: #df091b;
$m2: #56534f;

// Navbar Colors
$ing: #312b75;
$ing-hov: #6cabe2;
$reg: #1f5320; 
$reg-hov: #69cc5b;
$sec: #000;
$sec-hov: #fff;

//Gallery Image Text
$gallery-span: rgba(255,255,255,1);
$gallery-img-border: 1px solid #000;

//Font
$f1: 'Raleway', sans-serif;