@use "variables";
@use "mixinsfunc";

#canvas {
    background-color: variables.$m2;
    color: variables.$m1;
    font-family: variables.$f1;
    
    #shop-canvas-header {
        border-bottom: 1px solid #fff;
    }
    .shop-canvas-content{
        height: 90%;
        width: 100%;
    }
}

