@use "variables";

$transition-time: 0.2s;

.gallery-div {
    width: 200px;
    height: 190px;
    z-index: 0;
    
    .gallery-img{
        height: 175px;
        z-index: 1;
        width: 250px;
        background-color: #fff;
        border: variables.$gallery-img-border;
        &:hover {
            z-index: -1;
        }
    }
    .gallery-container-text{
        position: absolute;
        z-index: -1;
        height: 175px;
        width: 250px;
        background-color: rgba(0, 0, 0, 0.9);

        .gallery-image-title {
            color: variables.$sec-hov;
            font-family: variables.$f1;
            font-size: 25px;
        }
        .gallery-image-container-text {
            border-top: solid 1px #fff;
            
            .gallery-image-text{
                color: #4682b4;
                font-family: variables.$f1;
                font-size: 15px;
            }
        }
        .gallery-button-container {
            padding-bottom: 5px;
            .gallery-button{
                height: 27px;
                font-size: 10px;
                font-family: variables.$f1;
                width: 90px;
            }
        } 
        &:hover {
            z-index: 1;
        }
    }
}

