@use "variables";
@use "mixinsfunc";

@include mixinsfunc.f1;

.navbar-container {
    padding: 10px;
    @include mixinsfunc.background;
    font-family: variables.$f1;

    .navbar-f {
        background-color: variables.$m1;
    }

    .navbar-brand {
        background-color: variables.$m0;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        border: solid 1px #fff;

        .navbar-ico {
            color: #fff;
        }
    }

    #nav-l-ing {
        @include mixinsfunc.boton(variables.$ing,variables.$ing-hov);
    }
    
    #nav-l-reg {
        @include mixinsfunc.boton(variables.$reg,variables.$reg-hov);
    }

    #nav-l-section {
        @include mixinsfunc.boton(variables.$sec,variables.$sec-hov);
    }

}
