$red: #e63946;
$grey: #dad7cd;
.navbar-container {
    padding: 10px;
    background-color: $grey;

    .navbar-f {
        background-color: $red;
        border: double 4px $grey;
    }

    .navbar-brand {
        background-color: #cc4343;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        border: solid 1px #fff;

        .navbar-ico {
            color: #fff;
        }
    }
    #nav-l-ing {
        color: #b1aed3;
        transition: all 0.2s ease-in-out;
        &:hover {
            color: #2a89d7;
        }
    }
    

    #nav-l-reg {
        transition: all 0.2s ease-in-out;
        color: #745f5f;
        &:hover {
            color: #928e55;
        }
    }
}
