@use "variables";

.navbar-container {
    padding: 10px;
    background-color: variables.$m2;

    .navbar-f {
        background-color: variables.$m1;
        border: double 4px variables.$m2;
    }

    .navbar-brand {
        background-color: #cc4343;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        border: solid 1px #fff;

        .navbar-ico {
            color: #fff;
        }
    }
    #nav-l-ing {
        color: variables.$ing;
        transition: all 0.2s ease-in-out;
        &:hover {
            color: variables.$ing-hov;
        }
    }
    

    #nav-l-reg {
        transition: all 0.2s ease-in-out;
        color: variables.$reg;
        &:hover {
            color: variables.$reg-hov;
        }
    }
}
