@use "variables";
@use "mixinsfunc";

.wel-cont {
    height: 500px;
    background-color: variables.$sec;
    .wel-div {
        
        .wel-title{
            font-family: variables.$f1;
            font-size: 50px;
            color: variables.$m1;
            @include mixinsfunc.screen-res(1024px){font-size: 40px;}
        }
        .wel-text{
            padding: 0 30px;
            font-family: variables.$f1;
            font-size: 32px;
            color: variables.$m0;
            @include mixinsfunc.screen-res(1024px){font-size: 27px;}
        }
        
    }    
}
